<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<mat-card>
  <mat-card-header>
    <mat-card-title>Formulario de Solicitud de Asesoría</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="advisoryForm" (ngSubmit)="sendRequest()">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label for="professorId">Profesor:</label>
            <app-professor-selector (professorChanged)="onProfessorChanged($event)"></app-professor-selector>
          </div>
          <div class="form-group">
            <mat-form-field appearance="fill">
              <mat-label>ID del Estudiante</mat-label>
              <input matInput id="studentId" formControlName="studentId" readonly>
            </mat-form-field>
          </div>
          <div class="form-group">
            <label for="researchLineId">Línea de Investigación:</label>
            <app-line-selector (lineChanged)="onLineChanged($event)"></app-line-selector>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group centered-input">
            <mat-form-field appearance="fill" class="large-input">
              <mat-label>Tema de la Tesis</mat-label>
              <input matInput id="thesisTopic" formControlName="thesisTopic">
            </mat-form-field>
          </div>
          <div class="form-group centered-input">
            <mat-form-field appearance="fill" class="large-input">
              <mat-label>Mensaje</mat-label>
              <textarea matInput id="message" formControlName="message" rows="5"></textarea>
            </mat-form-field>
          </div>
          <button mat-raised-button color="primary" type="submit">Enviar Solicitud</button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>

<!-- Incluye el tema claro -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
