<div id="content" class="c-main container-fluid col-md-12">
  <div class="card">
    <div class="card-header">
      <h2>{{ 'PENDING_ADVISORY_REQUESTS' | translate }}</h2>
    </div>
    <div class="card-body">
      <div class="row mb-3">
        <div class="form-group col-md-7">
          <label for="inputGroup">{{ 'GROUP' | translate }}</label>
          <select class="form-control" id="inputGroup">
            <option selected>{{ 'ALL' | translate }}</option>
            <option>{{ 'GINSOFT' | translate }}</option>
            <option>{{ 'RESEGTI' | translate }}</option>
            <option>{{ 'OTHERS' | translate }}</option>
          </select>
          <app-filter-line (lineChanged)="onLineChanged($event)"></app-filter-line>
        </div>
        <div class="form-group col-md-5">
          <app-advisory-contract-date-filter (dateFilterChanged)="onDateFilterChanged($event)"></app-advisory-contract-date-filter>
        </div>
      </div>
      <div class="row">
        <div id="dataContainer" class="col-md-12">
          <div *ngFor="let contract of advisoryContracts" class="card bg-light mb-5">
            <div class="card-body">
              <div class="row">
                <div class="col-md-8">
                  <h4 class="card-title">
                    <strong>{{ 'ADVISOR_REQUESTER' | translate }}</strong> 
                    {{ contract.student.user.firstName }} {{ contract.student.user.lastName }}
                  </h4>
                  <h5><strong>{{ 'GROUP_LABEL' | translate }}</strong> {{ contract.professor.researchGroup.name }}</h5>
                  <h6><strong>{{ 'LINE_LABEL' | translate }}</strong> {{ contract.researchLine.name }}</h6>
                  <div class="message-box">
                    <strong>{{ 'MESSAGE' | translate }}</strong>
                    <p class="message-text">{{ contract.message }}</p>
                  </div >
                </div>
                <div class="col-md-4">
                  <button mat-raised-button color="primary" class="btn btn-success m-4 " (click)="openMessageModal(contract)">
                    <mat-icon>check_circle</mat-icon>
                    {{ 'ACCEPT_REQUEST' | translate }}
                  </button>
                  <button mat-raised-button color="warn" class="btn btn-danger m-4">
                    <mat-icon>cancel</mat-icon>
                    {{ 'REJECT_REQUEST' | translate }}
                  </button></div>
              </div>
             
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
